doctype 5
html
  head
    title= "Le Twitter."
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery-1.9.1.min.js')
    
  body
    block content
    block script